<template>
  <div>
    <div v-if="input.type == 'text'">
      <b-form-input
        type="text"
        :placeholder="'Enter ' + input.name"
        v-model="content"
        required
      />
    </div>
    <div v-if="input.type == 'textarea'">
      <b-form-textarea
        :placeholder="'Enter ' + input.name"
        v-model="content"
        required
      />
    </div>
    <div v-if="input.type == 'function'">
      <mathlive-mathfield
        class="form-control math-field"
        :options="{ smartFence: false }"
        v-model="content.latex"
        :key="'mathfield' + freshkey"
        ref="mathfield"
        >{{ content.latex }}</mathlive-mathfield
      >

      <op-selector
        :ops="ops"
        :type="'func'"
        :onclick="
          (val) => {
            $refs.mathfield.insert(val);
          }
        "
      />
    </div>
    <div v-if="input.type == 'number'">
      <b-form-input
        type="number"
        :placeholder="'Enter ' + input.name"
        v-model="content"
        required
      />

      <op-selector
        :ops="ops"
        :type="'number'"
        :onclick="
          (val) => {
            content += val;
          }
        "
      />
    </div>
    <div v-if="input.type == 'array'">
      <b-btn @click="input.new()">Add New</b-btn>
      <div class="row" v-for="(subinput, i) in content" :key="'input-' + i">
        <div class="col-1">
          <b-btn @click="input.removeInPos(i)" variant="danger">Delete</b-btn>
        </div>
        <div class="col-11">
          <dynamic-input
            :input="subinput.setId(i)"
            v-model="subinput.value"
            :ops="ops"
          />
        </div>
      </div>
    </div>
    <div v-if="input.type == 'matrix'">
      <b-btn @click="input.addRow()">Add Row</b-btn>

      <b-btn @click="input.addColumn()">Add Column</b-btn>
      <div class="row">
        <div class="col-12">
          <table>
            <tr v-for="(row, idx1) in content" v-bind:key="'row' + idx1">
              <td
                v-for="(col, idx2) in row"
                v-bind:key="'rowcol' + idx1 + '-' + idx2"
              >
                <input
                  v-model="content[idx1][idx2]"
                  type="text"
                  style="width: 70px"
                />
              </td>
              <td><b-btn @click="input.deleteRow(idx1)">X Row</b-btn></td>
            </tr>
            <tr>
              <td
                v-for="(col, idx2) in content[0]"
                v-bind:key="'rowcol' + 'bottom' + '-' + idx2"
              >
                <b-btn @click="input.deleteColumn(idx2)">X Column</b-btn>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div v-if="input.type == 'matrixname'">
      <b-form-input
        type="text"
        :placeholder="'Enter ' + input.name"
        v-model="content"
        required
      />

      <op-selector
        :ops="ops"
        :type="'matrix'"
        :onclick="
          (val) => {
            content += val;
          }
        "
      />
    </div>
  </div>
</template>

<script>
import OpSelector from "./OpSelector.vue";
export default {
  components: { OpSelector },
  name: "DynamicInput",
  props: ["input", "value", "ops"],
  data() {
    return {
      content: this.value,
      freshkey: 1,
    };
  },
  mounted() {
    this.freshkey = Math.random().toString(36).substring(7);
  },
  methods: {
    updateContent(val) {
      console.log("update val");
      if (this.input.type == "function") {
        val.ascii = this.$refs.mathfield
          .getValue("ASCIIMath")
          .replace("⋅", "*");
      }
      this.$emit("input", val);
    },
  },
  watch: {
    content: {
      // This will let Vue know to look inside the array
      deep: true,

      // We have to move our method to a handler field
      handler(val) {
        this.updateContent(val);
      },
    },
    value: function (val) {
      this.content = val;
    },
  },
};
</script>

<style>
.math-field {
  min-height: 50px;
  height: auto;
}
</style>