<template>
  <div>
    <b-badge
      @click="onclick(op.key)"
      v-for="(op, i) in ops.filter(
        (value) => value.outputType.type == type && value.key
      )"
      v-bind:key="i"
      >{{ op.key }} - {{ op.getName() }}</b-badge
    >
  </div>
</template>

<script>
export default {
  name: "OpSelector",
  props: ["type", "ops", "onclick"],
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  watch: {},
};
</script>

<style>
.math-field {
  min-height: 50px;
  height: auto;
}
</style>