<template>
  <div>
    <div class="printhide">
    <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">BeautifulMath</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item @click="newFile()">New</b-nav-item>
        <b-nav-item @click="saveJson()">Save</b-nav-item>
        <b-nav-item @click="$refs.file.click()">Open</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
    <input type="file" ref="file" style="display: none" v-on:change="openFile">
  </b-navbar>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="row printhide">
            <div class="col-md-12" v-if="operations">
              <b-card no-body class="m-1">
                <b-tabs content-class="mt-3" fill card>
                  <b-tab
                    v-for="(cat, i) in operations"
                    :key="'dyn-tab-' + i"
                    :title="cat.name"
                  >
                    <b-button
                      class="mr-1"
                      variant="outline-primary"
                      v-for="(op, k) in cat.list"
                      :key="'tab-' + i + '-link-' + k"
                      @click="addOp(op)"
                      >{{ op.name }}</b-button
                    >
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </div>
          <div class="row m-1">
            <div class="col-12"><h2>Workbook</h2></div>
            
            <div class="col-12" v-if="key">
              <div class="card mt-3" v-for="(op, key) in ops" v-bind:key="key">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="printhide">
                        <b-button-toolbar key-nav>
                          <b-button-group class="mx-1">
                            <b-button v-if="key > 0" @click="opUp(key)">▲</b-button>
                            <b-button v-if="key < ops.length-1" @click="opDown(key)">▼</b-button>
                          </b-button-group>
                          <b-button-group class="mx-1">
                            <b-button @click="opEdit(key)">Edit</b-button>
                            <b-button @click="opDelete(key)">Delete</b-button>
                            <b-button @click="opDuplicate(key)">Duplicate</b-button>
                          </b-button-group>
                        </b-button-toolbar>
                      </div>
                      <h5 class="card-title"><span v-if="op.getName()">{{op.getName()}} - </span>{{ op.name }}</h5>
                      <p class="card-text">
                        <ul>
                          <li v-for="(print,printKey) in op.print()" v-bind:key="printKey">
                            <ul v-if="Array.isArray(print)">
                              <li v-for="(print2,printKey2) in print" v-bind:key="printKey2"><mathlive-mathfield :options="{smartFence:false}">{{print2}}</mathlive-mathfield></li>
                            </ul>
                            <mathlive-mathfield v-bind:key="'mathfield'+refreshkey" :options="{smartFence:false}" v-else>{{print}}</mathlive-mathfield>
                          </li>
                        </ul>
                        <strong>Sage:</strong> <pre v-html="op.prettyBuild()"></pre>
                      </p>
                    </div>
                    <div class="col-6" v-if="op.hasOutput()">
                      <h5 class="card-title">Output</h5>
                      <div v-html="op.output()" v-if="!op.isTextOutput()"></div>
                      <div v-else>
                        <mathlive-mathfield :options="{smartFence:false}">{{op.output()}}</mathlive-mathfield>
                      </div>
                    </div>
                    <div class="col-6 alert alert-danger" v-if="op.hasError()">
                      <h5 class="card-title">Error!</h5>
                      <div v-html="op.outputError()"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 printhide">
          <h2>Server Status</h2>

          <p v-if="sage">
            Server Status: {{ sage.connected ? "Connected" : "Disconnected" }}
          </p>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            @click="runFunctions"
            :disabled="running"
          >
            {{ running ? "Connecting..." : "Run Operations" }}
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            @click="sageShow = true"
          >
            Show Script
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
             @click="printPage"
            :disabled="running"
          >
            Print
          </button>
        </div>
      </div>
    </div>
    <b-modal
      v-model="modalShow"
      v-if="modalOp"
      :title="modalOp.name"
      hide-footer
      size="xl"
    >
      <div class="row">
        <div class="col-12">
          <b-alert variant="danger" :show="modalError != null">
            <strong>Error:</strong> {{ modalError }}
          </b-alert>
          <b-form-group
            v-for="(input, i) in modalOp.inputs"
            :key="'input-' + i"
            :label="input.name + ':'"
            :description="input.info"
          >
            <dynamic-input :input="input" v-model="input.value" :ops="editkey < 0 ? ops : ops.slice(0,editkey)" />
          </b-form-group>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" @click="saveOp">
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          @click="
            modalOp = null;
            modalShow = false;
          "
        >
          Cancel
        </button>
      </div>
    </b-modal>
    <b-modal
      v-model="sageShow"
      ok-only
      :title="'Sage Output'"
    >
    <div v-for="(op, key) in ops" v-bind:key="key">
      <pre v-html="op.prettyFullBuild()"></pre>
    </div>
    </b-modal>
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
import SageMath from "@erez213/sagecell-node-client";
import OperationsList from "./Operations";
import Vue from "vue";
import * as _ from "lodash";
import { saveAs } from "file-saver";

export default {
  name: "SageMath",
  components: {
    "nav-bar": NavBar,
  },
  data: function () {
    return {
      key: 1,
      refreshkey: 1,
      editkey: 0,
      sage: null,
      running: false,
      operations: null,
      ops: [],
      modalShow: false,
      modalOp: null,
      modalError: null,
      sageShow: false,
      counter: 1,
    };
  },
  mounted() {
    this.sage = new SageMath({});
    //this.reRender();
    this.operations = OperationsList.list;
  },
  methods: {
    printPage() {
      this.runFunctions(() => {
        setTimeout(() => {
          window.print();
        }, 1000);
      });
    },
    runFunctions(onFinish) {
      this.running = true;
      for (let i = 0; i < this.ops.length; i++) {
        this.ops[i].setOutput(null);
      }
      this.key++;
      this.sage = new SageMath({
        onstatuschange: (status) => {
          if (status == "connected") {
            if (this.running) {
              this.running = false;
            }
            for (let i = 0; i < this.ops.length; i++) {
              this.sage
                .sendCommand(i, this.ops[i].build(i))
                .then((res) => {
                  this.ops[i].setOutput(res);
                  console.log("on message", res);
                  this.key++;
                })
                .catch((err) => {
                  this.ops[i].setError(err);
                  console.log("on err", err);
                  this.key++;
                })
                .finally(() => {
                  if (i == this.ops.length - 1) {
                    if (onFinish) onFinish();
                  }
                });
            }
          }
        },
        timeout: 30,
      });
      this.sage.connect();
    },
    addOp(op) {
      this.editkey = -1;
      this.modalOp = _.cloneDeep(op);
      this.modalOp.makeReactive();
      this.modalShow = true;
    },
    checkType(input) {
      if (input.type == "function") {
        return "function";
      }
      if (input.type == "variable") {
        return "variable";
      }
      if (input.type == "number") {
        return "number";
      }
      if (input.type == "text") {
        return "text";
      }
      return "function";
    },
    saveOp() {
      this.modalError = this.modalOp.validate();
      if (this.modalError == null) {
        if (this.editkey < 0) {
          this.modalOp.generateKey(this.counter++);
          this.ops.push(_.cloneDeep(this.modalOp));
        } else {
          this.ops.splice(this.editkey, 1, _.cloneDeep(this.modalOp));
        }
        this.refreshkey++;
        this.modalOp = null;
        this.modalShow = false;
      }
    },
    saveJson() {
      let data = this.ops.map((e) => {
        return JSON.stringify(e);
      });

      var json = JSON.stringify(data);
      var blob = new Blob([json], { type: "application/json" });
      saveAs(
        blob,
        "beautifulmath-" + new Date().toLocaleDateString() + ".json"
      );
    },
    newFile() {
      if (confirm("Are you sure? Your progress will not be saved!")) {
        this.counter = 1;
        this.ops = [];
      }
    },
    openFile(e) {
      var file = e.target.files[0];
      var reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload = (evt) => {
        let data;
        try {
          data = JSON.parse(evt.target.result);
        } catch (e) {
          alert("The file isn't valid file.");
          return;
        }
        this.counter = 1;
        this.ops = [];
        for (var i = 0; i < data.length; i++) {
          var info = JSON.parse(data[i]);
          this.operations.forEach((suboperations) => {
            suboperations.list.forEach((op) => {
              if (op.id == info.id) {
                let newOp = _.cloneDeep(op);
                newOp.generateKey(this.counter++);
                for (var j = 0; j < newOp.inputs.length; j++) {
                  if (newOp.inputs[j].type == "array") {
                    newOp.inputs[j].value = [];
                    for (
                      var arrayCount = 0;
                      arrayCount < info.inputs[j].value.length;
                      arrayCount++
                    ) {
                      newOp.inputs[j].new();
                      newOp.inputs[j].value[arrayCount].value =
                        info.inputs[j].value[arrayCount].value;
                    }
                  } else {
                    newOp.inputs[j].value = info.inputs[j].value;
                  }
                }
                this.ops.push(newOp);
              }
            });
          });
        }
      };
      reader.onerror = (evt) => {
        alert("Error loading the file.");
      };
    },
    opUp(key) {
      let temp = this.ops[key - 1];
      this.ops.splice(key - 1, 1, _.cloneDeep(this.ops[key]));
      this.ops.splice(key, 1, _.cloneDeep(temp));
      this.refreshkey++;
    },
    opDown(key) {
      let temp = this.ops[key + 1];
      this.ops.splice(key + 1, 1, _.cloneDeep(this.ops[key]));
      this.ops.splice(key, 1, _.cloneDeep(temp));
      this.refreshkey++;
    },
    opEdit(key) {
      this.editkey = key;
      this.modalOp = _.cloneDeep(this.ops[key]);
      this.modalShow = true;
    },
    opDelete(key) {
      this.ops.splice(key, 1);
      this.refreshkey++;
    },
    opDuplicate(key) {
      this.ops.push(_.cloneDeep(this.ops[key]));
      this.refreshkey++;
    },
  },
  computed: {},
  watch: {
    key: function (val) {},
  },
};
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@media print {
  .printhide {
    display: none;
  }
}
</style>
